
html {height:100%;}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  height:100%;
  overflow-x:hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 { 
  font-weight: 300;
  font-family: 'Montserrat'; }
*,
*:focus { outline: none !important }
a { color: #01939A }
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
.hiding { opacity: 0 }
.showing { opacity: 1 }
.img-rounded {
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], select
{
  height: 50px;
  border-radius: 4px;
  border: solid 1px rgba(228,228,228,1);
  padding: 0 1em;
  font-size: 16px;
  color:#555555;

}

/* place modal in the middle */

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.form-control::-webkit-input-placeholder { color: #9b9b9b; }
.form-control:-moz-placeholder { color: #9b9b9b; }
.form-control::-moz-placeholder { color: #9b9b9b; }
.form-control:-ms-input-placeholder { color: #9b9b9b; }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}


.btn {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
      -ms-transition: all .2s;
          transition: all .2s;
}
.btn-large{
  width:250px;
}
.btn-orange{
  color: #fff;
  background-color: #f89406;
}
.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
  color: #fff;
  background-color: #db8c0a;
}
.btn-blue {
  color: #fff;
  background-color: #0093cf;
}
.btn-blue:hover,
.btn-blue:focus {
  color: #fff;
  background-color: #2a3940;
}

.btn-white {
  color: #60ab59;
  background-color: #fff;
}
.btn-white:hover,
.btn-white:focus {
  color: #60ab59;
  background-color: #ddd;
}

.btn-green {
  color: #fff;
  background-color: #71be3c;
}
.btn-green:hover,
.btn-green:focus {
  color: #fff;
  background-color: #2a3940;
}
.btn-dark {
  color: #fff;
  background-color: #2a3940;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background-color: #2a3940;
}

.loader {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.fading-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-image: url(../img/fading-line.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}

#navbar-top { min-height: 50px }
.navbar-default {
  min-height: 50px;
  margin-bottom: 0;
  background-color: #60ab59;
  border: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.navbar-default .navbar-brand {
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-default .logo {
  display: inline-block;
  background-image: url(../img/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 135px;
  height: 56px;
}

.navbar-default .navbar-nav > li > a {
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #333;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-toggle { 
  border-color: transparent;
  color: #333;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
  color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar { 
  background-color: #333;
  color: #fff; }
.navbar-default.affix {
  color: #fff;
  top: 0;
  z-index: 99;
  width: 100%;
  border-bottom-color: transparent;
}
.page { overflow: hidden }
.page .content { padding: 60px 0 }
.page .content.cover { padding: 240px 0 }
.page .heading h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.page .border {
  width: 250px;
  height: 2px;
  margin: 0 auto;
  background-color: #71be3c;
}

.page .heading p { margin: 20px auto 0 }
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
#home {
  padding: 0;
  color: #60ab59;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height:100%;
  width: 100%;
  overflow: hidden;
}

#background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/cover/video1_snapshot_75.jpg) no-repeat;
    background-size: cover;
    padding:0px;
    margin: 0px;
}

#home h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 60px;
}
#home a { margin: 0 5px }
#home h3 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 27px;
  
}

#home .overlay {
    background-color: rgba(96, 171, 89,0.75); /*.75 opacity of the color so that background image is visible*/
    color: #fff;
    height:100%;
}

#home .player{
      position: absolute;    /* expand to fill */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#apply {
  color:#757575;
  background-color: #e5edec;
  min-height:80%;
  height:80%;
}

#confirm {
  color:#757575;
  background-color: #e5edec;
  min-height:80%;
  height:80%;
}
#confirm .content
{
  margin:0 auto;
}

#status {
  color:#757575;
  background-color: #e5edec;
  min-height:80%;
}

#status .content
{
  margin:0 auto;
}

#status .update
{
  padding-top: 15px;
  padding-bottom:15px;
  margin-bottom: 25px;
  border-radius: 6px;
  border: solid 1px rgba(228,228,228,1);
  background: #fff

}

#apply .overlay {
    background-color: rgba(229, 237, 236,0.85); /*.75 opacity of the color so that background image is visible*/
    height:100%;
}

#apply .player
{
  height:100%;
}
#apply .apply i { 
  margin-top: 60px; 
  color:#60ab59;}

#apply .apply h4 {
  color: #939291;
}
#apply .apply:hover i { color: #71be3c }

#intro .content { padding-bottom: 0 }

#intro .heading h2 {
    color: #f89406;
}
#intro .shopper { 
  margin-top: 20px;
  margin-bottom: 30px;
}
#intro .shopper .bio { padding-top: 10px }
#intro .shopper .profile-photo {
  overflow: hidden
}     
#intro .shopper .profile-photo img {
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
}
#intro .shopper:hover .profile-photo img,
#intro .shopper:focus .profile-photo img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
#intro .shopper .bio .border {
  height: 1px;
  margin: 15px auto;
}
#intro .shopper .bio ul {
  margin-bottom: 0;
  font-size: 16px;
}
#intro .shopper .bio a { color: #666 }
#intro .shopper .bio a:hover,
#intro .shopper .bio a:focus { color: #222 }

#footer {
  padding: 30px 0;
  color: #fff;
  text-align: center;
  background-color: #95a5a6 ;
}
#footer a,
#footer a:hover,
#footer a:focus { color: #fff }
#footer .social { margin-bottom: 10px }
#footer .social li .facebook:hover,
#footer .social li .facebook:focus { color: #3b5998 }
#footer .social li .twitter:hover,
#footer .social li .twitter:focus { color: #00aced }
#footer .social li .pinterest:hover,
#footer .social li .pinterest:focus { color: #BD081C }
#footer .social li .instagram:hover,
#footer .social li .instagram:focus { color: #2d6599 }
#footer .copyright { margin-bottom: 0 }


.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}


/* instacart icon rotated */

#me {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}


/* status page */

.shop-apply-indicator {margin-top: 10px;}

/* shopper apply steps indicator */
.shop-apply-indicator {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.shop-apply-indicator > .shop-apply-indicator-step {padding: 0; position: relative;}
.shop-apply-indicator > .shop-apply-indicator-step + .shop-apply-indicator-step {}
.shop-apply-indicator > .shop-apply-indicator-step .shop-apply-indicator-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.shop-apply-indicator > .shop-apply-indicator-step .shop-apply-indicator-info {color: #999; font-size: 14px;}
.shop-apply-indicator > .shop-apply-indicator-step > .shop-apply-indicator-dot {position: absolute; width: 30px; height: 30px; display: block; background: #cfe8cd; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.shop-apply-indicator > .shop-apply-indicator-step > .shop-apply-indicator-dot:after {content: ' '; width: 14px; height: 14px; background: #60ab59; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.shop-apply-indicator > .shop-apply-indicator-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.shop-apply-indicator > .shop-apply-indicator-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #cfe8cd;}
.shop-apply-indicator > .shop-apply-indicator-step.complete > .progress > .progress-bar {width:100%;}
.shop-apply-indicator > .shop-apply-indicator-step.active > .progress > .progress-bar {width:50%;}
.shop-apply-indicator > .shop-apply-indicator-step:first-child.active > .progress > .progress-bar {width:0%;}
.shop-apply-indicator > .shop-apply-indicator-step:last-child.active > .progress > .progress-bar {width: 100%;}
.shop-apply-indicator > .shop-apply-indicator-step.disabled > .shop-apply-indicator-dot {background-color: #f5f5f5;}
.shop-apply-indicator > .shop-apply-indicator-step.disabled > .shop-apply-indicator-dot:after {opacity: 0;}
.shop-apply-indicator > .shop-apply-indicator-step:first-child  > .progress {left: 50%; width: 50%;}
.shop-apply-indicator > .shop-apply-indicator-step:last-child  > .progress {width: 50%;}
.shop-apply-indicator > .shop-apply-indicator-step.disabled a.shop-apply-indicator-dot{ pointer-events: none; }