<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Apply to be an Instacart shopper today">
    <meta name="author" content="Vincent Wei">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>Instacart Shopper Application - Confirmation</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="assets/css/sweet-alert.css">
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <div id="navbar-top">
      <nav class="navbar navbar-default navbar-static" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-external logo" style="padding-top:0px" href="/"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/">Home</a>
              </li>
              <li class="active">
                <a href="#">Confirm Application</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
     <section id="confirm" class="page">
            <div class="container col-md-8 col-md-offset-2">
              <div class="content">
              <div class="heading  text-center">
                <h2>Welcome to Instacart, {{ user.first_name }}!</h2>
                <div class="border"></div> 
                <p>One step to go!</p>
                <br>
              </div>
              <br>
                <form role="form" id="confirm_form" onsubmit="return false;">
                                <div class="form-group col-lg-6">
                                  <label for="zipcode">Where do you prefer to work?
                                  </label>
                                  {{ confirm_form.zipcode(class="form-control", placeholder="Enter zip code") }}
                                </div>

                                <div class="form-group col-lg-6">
                                  <label for="phone_type">What smart phone do you primarily use?
                                  </label>
                                  {{ confirm_form.mobile_type(class="selectpicker col-lg-12", placeholder="Choose your mobile device") }}
                                </div>

                            <div class="col-lg-12 text-center">
                                <div class="checkbox checkbox-success">
                                <input id="agreecheck" class="styled" type="checkbox">
                                <label for="agreecheck" style="font-size:22px;padding-left:20px">Allow Instacart to do a background check on me <b>(required)</b>
                                </label>

                            </div>
                            </div>
              <div class="col-lg-12 text-center">
                <button type="submit" class="btn btn-orange" disabled id="confirm_form_submit">Submit my application!</button>
              </div>
              </form>

        </div>
      </div>
    </section>


    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social list-inline ">
              <li>
                <a class="facebook" href="https://www.facebook.com/Instacart" title="Facebook">
                  <i class="fa fa-facebook fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="twitter" href="https://twitter.com/instacart" title="Twitter">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="pinterest" href="http://www.pinterest.com/instacart" title="Pinterest">
                  <i class="fa fa-pinterest fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="instagram" href="http://instagram.com/instacart" title="Instagram">
                  <i class="fa fa-instagram fa-2x"></i>
                </a>
              </li>
            </ul>
            <p class="copyright"> 
              Copy Right by Vincent, Wei 2015, All Rights Reserved</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nav.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/twitterFetcher.min.js"></script>
    <script src="assets/js/sweet-alert.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/confirm.js"></script>


  </body>
</html>