<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Apply to be an Instacart shopper today">
    <meta name="author" content="Vincent Wei">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>Instacart Shopper Application</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/sweet-alert.css">
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="loader">
      <div class="fading-line"></div>
    </div>
    <section id="home" class="page">
        <video autoplay loop muted class="embed-responsive-item" poster="assets/img/cover/video1_snapshot_75.jpg" id="background">
          <source src="assets/video/main.mp4" type="video/mp4">
        </video>
         <div class="overlay">
            <!-- overylay class usage -->
        <div class="content cover text-center">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="animated hiding" data-animation="fadeInDown" data-delay="300">Become an Instacart Shopper</h1>
              <h3 class="animated hiding" data-animation="fadeIn" data-delay="600">There're more ways than driving to deliver happpiness</h3><br>
              <a class="btn btn-orange animated hiding applyBtn" data-animation="fadeIn" data-delay="900">Apply Now</a>
              <a class="btn btn-white nav-external animated hiding" data-animation="fadeIn" data-delay="900" href="#intro">Learn more</a>
            </div>
          </div>
        </div>
             </div>
    </section>

    <div id="navbar-top">
      <nav class="navbar navbar-default navbar-static" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-external logo" style="padding-top:0px" href="#home"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a href="#home">Home</a>
              </li>
              <li>
                <a href="#intro">Instacart Shopper</a>
              </li>
              <li>
                <a href="#apply">How to apply</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <section id="intro" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>Shop and Earn as an Instacart Shopper</h2>
            <div class="border"></div>
            <h4>Shop for grocery orders in your favorite stores. Earn at high bound at $25/hour</h4>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 shopper animated hiding" data-animation="fadeInLeft" data-delay="600">
              <div class="profile-photo embed-responsive embed-responsive-16by9">
                  <iframe src="https://www.youtube.com/embed/r_kpFEtTTf0?start=68" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="bio">
                <h4>Great scheduling and great pay!</h4>
                <h5>From numbers of personal shoppers</h5>
                <div class="border"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
     <section id="apply" class="page">
      <div class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=B9VZ5CbZj2I',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:0.75,mute: true,showControls:false}">
        <!-- change https://www.youtube.com/watch?v=Ycv5fNd4AeM to your youtube url-->
        <div class="overlay">
            <div class="container apply">
            <div class="content text-center">
              <div class="heading">
                <h2>Be part of Instacart to deliver happiness</h2>
                <div class="border"></div>
                <h4>Earn upper bound at $25/hour</h4>
              </div>
              <div class="row">
                <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="300">
                  <i class="fa fa-pencil-square-o fa-5x"></i>
                  <h3>Basic Info</h3>
                  <p>Provide some basic information for application</p>
                </div>
                <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="600">
                  <i class="fa fa-check-square-o fa-5x"></i>
                  <h3>Background Check</h3>
                  <p>Agree for a background check in the next step</p>
                </div>
                <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="900">
                  <i class="fa fa-smile-o fa-5x"></i>
                  <h3>Approve!</h3>
                  <p>Wait for our approval and watch the instruction videos</p>
                </div>
              </div>
              <br><br><br>
              <div class="row">
              <a class="btn btn-orange animated hiding applyBtn" data-animation="fadeIn" data-delay="900">Apply Now</a><br><br>
              <b>Already applied?</b>&nbsp;<a href="javascript:void(0)" class="loginBtn">Continue your application or check your status here.</a>
              </div>
            </div>
            </div>
        </div>

      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 animated hiding" data-animation="fadeInUp">
            <ul class="social list-inline ">
              <li>
                <a class="facebook" href="https://www.facebook.com/Instacart" title="Facebook">
                  <i class="fa fa-facebook fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="twitter" href="https://twitter.com/instacart" title="Twitter">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="pinterest" href="http://www.pinterest.com/instacart" title="Pinterest">
                  <i class="fa fa-pinterest fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="instagram" href="http://instagram.com/instacart" title="Instagram">
                  <i class="fa fa-instagram fa-2x"></i>
                </a>
              </li>
            </ul>
            <p class="copyright"> 
              Copy Right by Vincent, Wei 2015, All Rights Reserved</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

<div class="modal fade" id="applyDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="ApplyTab">
        <form role="form" class="form form-horizontal" id="apply_form" method="post" onsubmit="return false;">
                      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                      <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h3 class="modal-title"><img src="assets/img/logoicon.png" height="23px" style="margin-top:-5px" />&nbsp;Apply for Instacart Shopper</h3>
                    </div>
                    <div class="modal-body">
                      Please provide us the below information to start the application.<br><br>
                    
                                              <div class="form-group">
                                                  <div class="col-sm-6">
                                                   {{ apply_form.first_name(class="form-control", placeholder="First Name", required="true") }}
                                                  </div>
                                                   <div class="col-sm-6">
                                                       {{ apply_form.last_name(class="form-control", placeholder="Last Name", required="true") }}
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="col-sm-12">
                                                      {{ apply_form.email(class="form-control", type="email", placeholder="Email", required="true") }}
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <div class="col-sm-12">
                                                      {{ apply_form.mobile(class="form-control", placeholder="Mobile", required="true") }}
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="col-sm-12">
                                                     {{ apply_form.last_name(class="form-control", placeholder="How you hear us?") }}
                                                  </div>
                                              </div>
                        <b>Already Applied?</b> &nbsp;<a href="#LoginTab" data-toggle="tab" id="loginButton"> Continue your application or check your status here.</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-orange btn-large" id="apply_form_submit">Apply</button>
                    </div>

          </form>
          </div>
          <div class="tab-pane" id="LoginTab">
                    <form role="form" class="form form-horizontal" id="login_form"  method="post" onsubmit="return false;">
                            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                            <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h3 class="modal-title"><img src="assets/img/logoicon.png" height="23px" style="margin-top:-5px" />&nbsp;Login for existing application</h3>
                    </div>
                    <div class="modal-body">
                      Please provide below information to access your application.<br><br>
               
                                              <div class="form-group">
                                                  <div class="col-sm-12">
                                                         {{ login_form.last_name(class="form-control", placeholder="Last Name", required="true") }}
                                                  </div>
                                              </div>  
                                              <div class="form-group">
                                                  <div class="col-sm-12">
                                                       {{ login_form.email(class="form-control", type="email", placeholder="Email", required="true") }}
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="col-sm-12">
                                                       {{ login_form.mobile(class="form-control", placeholder="Mobile", required="true") }}
                                                  </div>
                                              </div>
                        <div class="alert alert-danger" style="display:none" id="invalid_account_msg" role="alert">
  <i class="fa fa-exclamation-triangle"></i>
  <span class="sr-only">Error:</span>&nbsp;The information you’ve entered doesn’t match any account.
</div>
                       <b>Not yet applied?</b> &nbsp;<a href="#ApplyTab" data-toggle="tab" id="applyButton">Start a new application now.</a>
                    </div>
                    <div class="modal-footer">
                      
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-orange btn-large" id="login_form_submit">    Login   </button>
                        
                    </div>
                     </form>
          </div>
  </div>
</div>
</div>
</div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nav.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/twitterFetcher.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/script.js"></script>
    <!-- BACKGROUND VIDEO PLUGIN  -->
    <script src="assets/js/jquery.mb.YTPlayer.js"></script>
  </body>
</html>