<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Apply to be an Instacart shopper today">
    <meta name="author" content="Vincent Wei">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>Instacart Shopper Application - Status</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="assets/css/sweet-alert.css">
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <div id="navbar-top">
      <nav class="navbar navbar-default navbar-static" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-external logo" style="padding-top:0px" href="/"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/">Home</a>
              </li>
              <li class="active">
                <a href="#">Status</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

     <section id="status" class="page">
            <div class="container  col-md-8 col-md-offset-2">
              <div class="content">
              <div class="heading  text-center">
                <h2>Welcome back, {{ user.first_name }}!</h2>
                <div class="border"></div><br>
                <div class="status">
              <div class="row shop-apply-indicator" style="border-bottom:0;">
                
                <div class="col-xs-3 shop-apply-indicator-step complete">
                  <div class="text-center shop-apply-indicator-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="shop-apply-indicator-dot"></a>
                  <div class="shop-apply-indicator-info text-center">Apply</div>
                </div>
                
                <div class="col-xs-3 shop-apply-indicator-step complete"><!-- complete -->
                  <div class="text-center shop-apply-indicator-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="shop-apply-indicator-dot"></a>
                  <div class="shop-apply-indicator-info text-center">Agree background check</div>
                </div>
                
                <div class="col-xs-3 shop-apply-indicator-step active"><!-- complete -->
                  <div class="text-center shop-apply-indicator-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="shop-apply-indicator-dot"></a>
                  <div class="shop-apply-indicator-info text-center">Wait for approval</div>
                </div>
                
                <div class="col-xs-3 shop-apply-indicator-step disabled"><!-- active -->
                  <div class="text-center shop-apply-indicator-stepnum">Step 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="shop-apply-indicator-dot"></a>
                  <div class="shop-apply-indicator-info text-center">Complete</div>
                </div>
            </div>
              </div>
            </div>
              <br>
              <div class="container col-lg-12 col-md-12 update">
                <form role="form" action="/status" method="post" onsubmit="return false;" id="update_form">
                  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                              <div class="form-group col-lg-6">

                                <label>Name</label><br>{{ user.first_name }}, {{ user.last_name }}
                              </div>
                              <div class="form-group col-lg-6">
                                <label>Email</label><br>{{ user.email }}
                              </div>
                                <div class="form-group col-lg-12">
                                   <label for="mobile">Your phone number
                                  </label>
                                  {{ update_form.mobile(class="form-control", placeholder="Mobile", required="true") }}
                                </div>

                                <div class="form-group col-lg-6">
                                  <label for="zipcode">Where do you prefer to work?
                                  </label>
                                  {{ update_form.zipcode(class="form-control", placeholder="Enter zip code") }}
                                </div>

                                <div class="form-group col-lg-6">
                                  <label for="mobile">What smart phone do you primarily use?</label>
                                    {{ update_form.mobile_type(class="selectpicker col-lg-12", placeholder="Choose your mobile device") }}
                                </div>
              <div class="col-lg-12 text-right">
               <a class="btn btn-white nav-external" data-toggle="modal" href="/logout">Log out</a>&nbsp;&nbsp;
                <button type="submit" class="btn btn-orange" id="update_form_submit">Update</button>
              </div>
              </form>
            </div>

        </div>
      </div>
    </section>


    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social list-inline ">
              <li>
                <a class="facebook" href="https://www.facebook.com/Instacart" title="Facebook">
                  <i class="fa fa-facebook fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="twitter" href="https://twitter.com/instacart" title="Twitter">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="pinterest" href="http://www.pinterest.com/instacart" title="Pinterest">
                  <i class="fa fa-pinterest fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="instagram" href="http://instagram.com/instacart" title="Instagram">
                  <i class="fa fa-instagram fa-2x"></i>
                </a>
              </li>
            </ul>
            <p class="copyright"> 
              Copy Right by Vincent, Wei 2015, All Rights Reserved</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nav.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/twitterFetcher.min.js"></script>
    <script src="assets/js/sweet-alert.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/status.js"></script>


  </body>
</html>